body {
	font-family: arial;
	font-size: 15px;
	background: #f4f4f4;
	color: #949494;
}

div {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
	background: #404137;
}
nav {
	background: #404137;
	color: #fff;
	height: 30px;
	padding: 10px 0 0 10px;
	font-size: 18px;
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 20px;
}

p {
	text-align: justify;
	margin: 20px 0;
}

nav li {
	float: left;
	list-style: none;
}

nav a {
	padding: 10px;
	margin: 0 10px;
	color: #fff;
}

nav a:hover {
	background: #83cd29;
	color: #404137;
}

.active {
	background: #83cd29;
	color: #404137;
}

img {
	width: 100%;
	margin: 0;
	padding: 0;
}

footer {
	text-align: center;
	background: #404137;
	height: 20px;
	padding: 10px 0;
}

#headerImage {
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: #83cd29 3px solid;
}

table {
	border: 1px #83cd29 solid;
	width: 100%;
	margin: 60px 0;
}

table td {
	text-align: center;
	height: 40px;
}

table td.formTD {
	text-align: left;
	width: 50%;
}

.formTable {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.table-image {
	width: 40%;
}

input {
	margin: 5px 0;
	padding: 2px;
}

textarea {
	resize: none;
	width: 80%;
	height: 200px;
}