<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Alien Store</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	</head>

	<body>
	<div class="container">
		<img id="headerImage" src="/images/logo.png">
		<nav>
			<li class="nav-el">
				<a href="/">Home</a>
			</li>

			<li class="nav-el">
				<a href="/about">About</a>
			</li class="nav-el">

			<li class="nav-el">
				<a href="/aliens">Aliens</a>
			</li class="nav-el">

			<li class="nav-el">
				<a href="/contact">Contact</a>	
			</li>
		</nav>
		<!-- END nav -->

		{{{body}}}	
	<footer>
		&copy; Rastko Tojagic
	</footer>
	</div>
	</body>
</html>