<h1>This website comes, perhaps from another galaxy</h1>


<a href="http://arcturi.com/" target="frame">Aliens</a>
<a href="/" target="frame">Our site?</a>
<a href="http://www.playsirius.com" target="frame">Playsirius</a>

<iframe name="frame" src="" width="100%" height="220px"></iframe>
