<h1>You can chose one to follow you</h1>
<table border=1px>
	<tr>
		<th></th>
		<th><h3>Dagon</h3></th>
		<th><h3>Hydra</h3></th>
		<th><h3>Cthulhu</h3></th>
	</tr>
	<tr>
		<td width="160px">Image</td>
		<td><img class="table-image" src="/images/dagon.jpg"></td>
		<td><img class="table-image" src="/images/hydra.jpg"></td>
		<td><img class="table-image" src="/images/cthulhu.png"></td>
	</tr>
		<td>Magic</td>
		<td>Water</td>
		<td>Water</td>
		<td>Mind horror</td>
	</tr>
	<tr>
		<td>Cost</td>
		<td>4000 Galaxy Coins</td>
		<td>3000 Galaxy Coins</td>
		<td>6000 Galaxy Coins</td>
	</tr>
</table>