<h1>You may contact us</h1>
<form method="post" action="/contact/send" name="contact">
<table class="formTable">
	<tr>
		<td class="formTD">
			Your name:
		</td>
		<td>
			<input name="name" type="text" placeholder="Enter name..." required>
		</td>
	</tr>
	<tr>
		<td class="formTD">
			Your id:
		</td>
		<td>
			<input name="id" type="text" placeholder="Enter id..." required>
		</td>
	</tr>	
	<tr>
		<td class="formTD">
			Your email:
		</td>
		<td>
			<input name ="email" type="email" placeholder="alien@galaxy.uni" required>
		</td>
	</tr>	

	<tr>
		<td colspan="2">
			<textarea form="contact"></textarea>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<input type="submit" value="Submit">
		</td>
	</tr>

</table>

</form>