<h1>We're doing some <i>alien</i> stuff here</h1>
<p>
	<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Nulla euismod lobortis elit, ac aliquam felis molestie id. Quisque id turpis nec ante pellentesque aliquam sit amet eget mi. Sed varius mi in risus cursus iaculis. Pellentesque at sem at nisl euismod bibendum. Vestibulum egestas ut mauris sit amet porta. Phasellus maximus erat velit, ut malesuada est fringilla vitae. Mauris elementum sodales sem, vitae gravida ex semper id. Curabitur imperdiet diam non nisl bibendum suscipit. Aliquam tincidunt ornare metus, mattis aliquet libero placerat nec. Aenean venenatis laoreet neque in imperdiet. Aliquam eget enim in orci tincidunt convallis. Suspendisse dapibus lacus quis purus faucibus, ornare elementum nulla pulvinar. Nunc ut orci in ex tincidunt facilisis.
</p>
<p><strong>Here are some quotes from our ship dealer's website:</strong></p>

<ul>
	<li><em>Cthulhu fhtagn</em></li>
		<blockquote style="text-align:justify">
		Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris viverra sit amet libero nec consequat. Duis justo nisl, cursus vitae elementum sed, vestibulum id justo. Cras mi quam, facilisis vel pulvinar quis, mollis id ante. Etiam finibus, massa rhoncus volutpat gravida, turpis nisl placerat tortor, id consectetur nibh risus et odio. Vestibulum lobortis purus eget libero volutpat dapibus. Suspendisse cursus rhoncus enim at.
		</blockquote>
	<li><em>fhtagn in R'lyeh</em></li>
		<blockquote style="text-align:justify">
			tempor. Phasellus libero tortor, pretium nec nisi eu, condimentum eleifend lacus. Morbi rhoncus dignissim metus, eget tincidunt magna aliquet in. Curabitur tempus urna sapien, eget malesuada tellus facilisis quis. Vestibulum felis magna, condimentum ut aliquam non, placerat id tellus. In hac habitasse platea dictumst. Quisque rhoncus lectus sit amet justo volutpat interdum.
		</blockquote>
</ul>

