html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
	padding: 0px;
	margin: 0px;
	background: url('../images/background.jpg');
}

h1 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
}

footer {
	bottom: 0px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	border-top: 1px solid #19bee7;
	z-index: 1;
}

#header {
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid #19bee7;
	height: 180px;
	z-index: -1;
}

#wraper {
	width: 960px;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
	padding-top: 40px;
	z-index: -6;
}

#content {
	position: relative;
	width: 940px;
	background: rgba(0, 0, 0, 0.6);
	padding: 10px;
	margin-top: 141px;
	min-height: 705px;
}

nav {
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
}

#logo {
	width: 120px;
	height: 120px;
	float: left;
	background: url('../images/logo.png');
	background-size: contain;
	margin: 0px;
	padding: 0px;
}

ul {
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 40px;
}

ul li {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}

ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
}

ul li a:hover {
	color: #19bee7;
}

.section {
	position: relative;
	float: left;
	width: 280px;
	min-height: 240px;
	padding: 4px 10px;
	margin: 0px 6px;
	background: #fff;
	text-align: justify;
}

#HomeHeader {
	color: #fff;
}



/* This code will handle expandable menu */
li.explore:hover + #explore-expand {
	height: 200px;
	background-color: red;
}

#explore-expand {
	position: relative;
	width: inherit;
	height: 20px;
	top: -20px;
}

#explore-expand:hover + #explore-content {
	display: block;
}

#explore-content {
	background: #fff;
	position: absolute;
	width: 100px;
	z-index: 10;
	height: 100px;
	display: none;
}
