extends layout

block content
	h1#HomeHeader
		center Welcome to Home page!
	.section 
		h1 Section1
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a eleifend nunc. In ornare congue aliquam. Proin in consectetur ex. Suspendisse sed feugiat nisl. Vivamus imperdiet ex feugiat auctor ornare. Etiam sed urna eget nisi porttitor pellentesque. Suspendisse ullamcorper, nulla at interdum dictum, ligula eros vestibulum nunc, vitae auctor ipsum quam a purus. Mauris rhoncus sem odio, sit amet placerat neque porttitor vel.
	.section 
		h1 Section2		
		| Fusce interdum quam in iaculis suscipit. Aliquam hendrerit est quis felis faucibus, et fermentum lectus ornare. Sed purus nisi, eleifend sit amet velit sed, egestas volutpat diam. Vestibulum id sapien enim. Aenean eu faucibus dui. Ut ut ornare mauris. Vestibulum maximus efficitur nibh, nec vulputate quam mollis et. Suspendisse ornare nibh sed molestie suscipit. Aenean vehicula bibendum mi in cursus.
	.section 
		h1 Section3		
		| Mauris nec elementum ex. Nam faucibus semper hendrerit. Praesent condimentum scelerisque leo, a pharetra felis consequat eu. Etiam dictum justo et libero sodales, ac ultrices ligula pellentesque. Proin fermentum tincidunt quam at facilisis. Vestibulum bibendum justo ex, eget ornare tortor placerat id. Phasellus condimentum auctor nisl sed consectetur. Quisque facilisis dignissim odio eget ullamcorper.