doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#header
		#wraper
			// header
			nav
				#logo
				ul
					li
						a(href='/') HOME
					li
						a(href='#') EXPLORE
					li
						a(href='#') ABOUT US
			#content
				block content
		footer
			| &copy; Rastko, PMF-RN 2016
